h1 {text-align:center;
    font-family: Times New Roman;}
h2 {text-align:center;
    font-family: Times New Roman;}
	a {text-decoration: underline}
	a:hover {text-decoration: none}
	td {font-family: Arial;}
	p {font-family: Arial;
	text-align: justify;}
	font {text-align: justify;}
	